@import url(./global.css);

/* -----------HEADER---------- */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 56.5px 140px;
    background-color: var(--color-secondary);
    border-bottom: 2px solid var(--color-primary);
}

.nav-header ul{
    display: flex;
    gap: 45px;
    list-style: none;
}

.nav-header ul li a{
    color: var(--color-neutral-white);
    text-decoration: none;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
}

.btn-header{
    color: var(--color-neutral-white);
    background-color: var(--color-primary);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-button);
}

/* -----------MAIN---------- */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 100px 0;
    background-color: var(--color-secondary);
}

.container-main{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: var(--color-neutral-white);
}

.container-main h1{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h1);
    width: 515px;
    font-weight: var(--font-weight-h1);
}

.container-main h1 span{
    color: var(--color-primary);
}

.container-main p{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    width: 497px;
    letter-spacing: 0.5px;
}

.container-main a{
    font-family: var(--font-family-primary);
    font-weight: var( --font-weight-button);
    text-decoration: none;
    color: var(--color-neutral-white);
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    padding: 10px 25px;
    width: 139px;
}

/* ----------- SECTION-INFORMATION ---------- */

.section-information{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    gap: 100px;
}

.informations{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.informations h2{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h2);
    width: 443px;
}

.informations span{
    color: var(--color-primary);
}

.informations p{
    font-family: var(--font-family-primary);
    color: var(--color-secondary);
    width: 603px;
    letter-spacing: 0.5px;
}

/* ----------- SECTION-GRAPHIC ----------- */

.section-graphip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 24px;
    background-color: var(--color-secondary);
    border-bottom: 1px solid var(--color-neutral-white);
}

.title-graphic{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-graphip h2{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h2);
    text-align: center;
    color: var(--color-neutral-white);
    letter-spacing: 0.5px;
}

.section-graphip span{
    color: var(--color-primary);
}

.section-graphip p{
    font-family: var(--font-family-primary);
    color: var(--color-neutral-white);
    text-align: center;
    letter-spacing: 0.5px;
    width: 730px;
}